.App {
  text-align: center;
}
 #App-header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  /* font-weight: bold; */
  color:darkorchid;
}
#inputBox{
  background-color: lightgray;
  width: 500px;
  border-color: darkorchid;
  font-size: large;
  color: rgba(0, 0, 0, 0.893);
  font-weight: bold;
}
#submitButton{
  width: 200px;
  background-color: darkorchid;
  border-color: darkorchid;
font-weight: bold;
font-size: medium;

}
#removeButton{
background-color: black;
border-color: black;
align-items: right;
font-weight: bold;
font-size: small;
color: white;
}
 #taskList{
  color: lightgray;
  font-size: medium;
  font-weight: bold;
}
ol:nth-child(even){
background-color:darkorchid;
border-style: solid;
border-color:indigo;
border-width:medium;
padding:5px;
color: black;
}
ol:nth-child(odd){
  background-color:lightgrey;
  border-width: medium;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  color: black;
  }
  ol:hover{
background-color:lime;
border-color:lime;
  }
  .container{
text-align: center;
  }
  ul{
    display: inline-block;
  }